.frame-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #252525;
  width: 100%;
  height: 100vh;
  z-index: 1;
  pointer-events: all;
}

iframe {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: block;
  border: none !important;
  pointer-events: all;
}

iframe {
  pointer-events: all !important;
}

.frame-overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #54aaf5;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: opacity 500ms ease;
}

.frame-overlay.active {
  opacity: 0.3;
}
